@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.react-flow__handle.react-flow__handle-connecting {
  @apply !bg-red-500;
}

.react-flow__handle.react-flow__handle-connecting.react-flow__handle-valid {
  @apply !bg-green-500;
}
